<ion-view view-title="<i class='icon ion-information-circled'></i> About">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        TEDxPanthéonSorbonne
      </div>
      <div class="item item-text-wrap">
        TEDxPanthéonSorbonne is a independently organized TED event.
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        TEDxCapture
      </div>
      <div class="item item-text-wrap">
        TEDxCapture app is an <a class="in-link" onClick="window.open('http://tedxcapture.sandoche.com', '_blank', 'location=yes');">open project</a> made by <a class="in-link" onClick="window.open('http://www.sandoche.com', '_blank', 'location=yes');">Sandoche</a> at
        <a class="in-link" onClick="window.open('http://www.tedxpantheonsorbonne.fr', '_blank', 'location=yes');">TEDxPanthéonSorbonne</a>.
      </div>
    </div>
  </ion-content>
</ion-view>
