<ion-view view-title="<i class='icon ion-social-rss'></i> Follow-us">
  <ion-content>
    <div class="list card">
      <a href=""  onClick="window.open('http://www.tedxpantheonsorbonne.fr', '_blank', 'location=yes');" style="color: #e62b1e;" class="item item-icon-left">
        <i class="icon ion-earth"></i>
        Website
      </a>
      <a href="" onClick="window.open('https://www.facebook.com/TEDxPantheonSorbonne', '_blank', 'location=yes');" style="color: #3B5998;" class="item item-icon-left">
        <i class="icon ion-social-facebook"></i>
        Facebook
      </a>
      <a href="" onClick="window.open('https://twitter.com/TEDxSorbonne', '_blank', 'location=yes');" style="color: #4099FF;" class="item item-icon-left">
        <i class="icon ion-social-twitter"></i>
        Twitter
      </a>
    </div>
  </ion-content>
</ion-view>
